<body> 
<table>
  <tr>
    <th>Doctor's Name</th>
    <th>Description</th>
    <th>Take Appointment</th>
  </tr>
  <tr>
    <td>Dr B.B Gupta</td>
    <td>Physician</td>
    <button routerLink="/patientform" routerLinkActive="active" type="button" class="btn btn-primary">Appoint</button>  
  </tr>
  <tr>
    <td>Dr Kamal</td>
    <td>Physician</td>
    <button routerLink="/patientform" routerLinkActive="active" type="button" class="btn btn-primary">Appoint</button>  
  </tr>
  <tr>
    <td>Dr B.B Gupta</td>
    <td>Physician</td>
    <button routerLink="/patientform" routerLinkActive="active" type="button" class="btn btn-primary">Appoint</button>  
  </tr>
  <tr>
    <td>Dr Kamal</td>
    <td>Physician</td>
    <button routerLink="/patientform" routerLinkActive="active" type="button" class="btn btn-primary">Appoint</button>  
  </tr>

</table>
</body>