<body>
	<form name="form" method="post" action="">
	  <h3>Appointment Form</h3>  
		<label for="name">Name</label>
		<br> 
		<input name="name" id="name" placeholder="Name">
		<br>

		<label for="gender">Gender</label>
		<br> 
		<input name="gender" id="gender" placeholder="Gender">
		<br>

		<label for="age">Age</label>
		<br> 
		<input name="age" id="age" placeholder="Age"> 
		<br>

		<label for="phoneno">Phone No</label>
		<br> 
		<input name="phoneno" id="phoneno" placeholder="Phone no">
		<br>

		<label for="address">Address</label>
		<br> 
		<input name="address" id="address" placeholder="Address">
		<br>

		<label for="email">Email</label>
		<br> 
		<input name="email" id="email" placeholder="Email"> 
		<br>

		<label for="appointment">Appointment Type</label>
		<br> 
		<input name="email" id="email" placeholder="Appointment Type">
		<br>
		<button routerLink="/patientview" routerLinkActive="active" type="submit" form="form" value="Submit" class="btn btn-primary btn-lg btn-block submit-button">Submit</button><br>			
	</form>
</body>