body{
background-color: #4CAF50;
background-size: 100%;
padding:160px;
}

input {
  width: 30%;
  padding: 7px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  opacity: .5; 
}
form{
  margin-top: 60px; 
  margin-left: 350px;
}
  button {
  background-color:   #e6ecff; 
  width: 10%;
  padding: 8px 12px;
}
