.bg {
	background: url(../images/Beacon-Hospital-large-1024x607.jpg);
	width: 98%;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
    padding: 20px;
    padding-left: 25px;
}
button{
  background-color:   #00b36b;
  width: 20%;
  padding: 10px 15px;
  margin-top: 200px;
}